.myProfile {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-image: conic-gradient(
    at 38.1% 61.9%,
    #e7e2ff 0deg,
    #e7e2ff 180deg,
    #654fef 180deg
  );
}
.profile__box {
  background-image: conic-gradient(
    at 30.15% 69.85%,
    #e7e2ff 0deg,
    #e7e2ff 180deg,
    #654fef 180deg
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 60vw;
  height: 60vh;
  box-shadow: 2px 2px 20px black;
}
.title__container > h1 {
  color: black;
}
.avatars {
  display: flex;
  gap: 2rem;
}
.avatar {
  border: 0.4rem solid transparent;
  padding: 0.4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.avatar > img {
  height: 6rem;
}
.selectedAv {
  border: 0.4rem solid red;
}
.submit__btnAvatars {
  background-color: #997af0;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.submit__btnAvatars:hover {
  background-color: #4e0eff;
}
